# Assert the Kafka stateful set is up and running
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Env.CLUSTER_NAME }}-kafka
  {{if getenv "KUBERNETES_NAMESPACE"}}namespace: "{{ .Env.KUBERNETES_NAMESPACE }}"{{end}}
status:
  readyReplicas: {{ .Env.REPLICAS }}
