# Assert the Zookeeper StrimziPodSet is up and running
apiVersion: core.strimzi.io/v1beta2
kind: StrimziPodSet
metadata:
  name: {{ .Env.CLUSTER_NAME }}-zookeeper
status:
  readyPods: {{ .Env.REPLICAS }}
