apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  # Sometimes, the Ingress route is there but not 100% ready so, when kubectl tries to get the
  # hostname, it returns an empty string
  - command: ./ensure-ingress-host.sh
  - script: "go run {{ .Env.QUERY_PROGRAM }} --service-name={{ .Env.JAEGER_SERVICE_NAME }} --query-host={{ .Env.QUERY_HOST }}"
