# Start Kafka
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: "cd {{ .Env.ROOT_DIR }} && make undeploy-kafka KAFKA_NAMESPACE=$NAMESPACE KAFKA_OLM={{ .Env.KAFKA_OLM }}"
  - script: "cd {{ .Env.ROOT_DIR }} && make kafka KAFKA_NAMESPACE=$NAMESPACE KAFKA_OLM={{ .Env.KAFKA_OLM }} KAFKA_VERSION={{ .Env.KAFKA_VERSION }}"
