# Generate some traces in the Jaeger instance
apiVersion: batch/v1
kind: Job
metadata:
  name: report-span
spec:
  template:
    spec:
      containers:
        - name: report-span
          image: {{ .Env.ASSERT_IMG }}
          command: [
            "./reporter-otlp",
            "--verbose",
            "--operation-name", "smoke-test-operation",
            "--jaeger-service-name", "smoke-test-service",
            "--reporting-protocol", "{{ .Env.REPORTING_PROTOCOL }}",
          ]
          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "{{ .Env.OTEL_EXPORTER_OTLP_ENDPOINT }}"
      restartPolicy: OnFailure
  backoffLimit: 15
---
apiVersion: batch/v1
kind: Job
metadata:
  name: check-span
spec:
  template:
    spec:
    {{if getenv "MOUNT_SECRET"}}
      volumes:
      - name: token-api-volume
        secret:
          secretName: {{ .Env.MOUNT_SECRET }}
    {{ end }}
      containers:
        - name: asserts-container
          image: {{ .Env.ASSERT_IMG }}
          command: ["./query"]
          env:
            - name: SERVICE_NAME
              value: "smoke-test-service"
            - name: QUERY_HOST
              value: "{{ .Env.JAEGER_QUERY_ENDPOINT }}"
            {{if getenv "MOUNT_SECRET"}}
            - name: SECRET_PATH
              value: "/var/run/secrets/api-token/token"
            {{ end }}
          {{if getenv "MOUNT_SECRET"}}
          volumeMounts:
          - mountPath: /var/run/secrets/api-token
            name: token-api-volume
          {{ end }}
      restartPolicy: OnFailure
  backoffLimit: 15
