apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: {{ .Env.JAEGER_NAME }}
spec:
  strategy: production
  storage:
    type: elasticsearch
    options:
      es:
        server-urls: {{ .Env.ELASTICSEARCH_URL }}{{ .Env.ELASTICSEARCH_PORT }}
