# Generate some traces in the Jaeger instance
apiVersion: batch/v1
kind: Job
metadata:
  name: report-span
spec:
  template:
    spec:
      containers:
        - name: report-span
          image: local/asserts:e2e
          command: [
            "./reporter",
            "--verbose"
          ]
          env:
            - name: JAEGER_SERVICE_NAME
              value: "{{ .Env.JAEGER_SERVICE }}"
            - name: OPERATION_NAME
              value: "{{ .Env.JAEGER_OPERATION }}"
            - name: JAEGER_ENDPOINT
              value: "http://{{ .Env.JAEGER_NAME }}-collector-headless{{if getenv "JAEGER_NAMESPACE"}}.{{ .Env.JAEGER_NAMESPACE }}{{end}}:14268/api/traces"
            - name: JAEGER_QUERY
              value: "http://{{ .Env.JAEGER_NAME }}-query{{if getenv "JAEGER_NAMESPACE"}}.{{ .Env.JAEGER_NAMESPACE }}{{end}}:16686/api/traces"
      restartPolicy: OnFailure
  backoffLimit: 10
---
apiVersion: batch/v1
kind: Job
metadata:
  name: check-span
spec:
  template:
    spec:
      containers:
        - name: asserts-container
          image: local/asserts:e2e
          command: ["./query"]
          env:
            - name: SERVICE_NAME
              value: "{{ .Env.JAEGER_SERVICE }}"
            - name: QUERY_HOST
              value: "{{ .Env.JAEGER_NAME }}-query{{if getenv "JAEGER_NAMESPACE"}}.{{ .Env.JAEGER_NAMESPACE }}{{end}}:16686"
      restartPolicy: OnFailure
  backoffLimit: 10
