# Assert the Jaeger collector is up and running
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Env.JAEGER_NAME }}-collector
spec:
  replicas: 1
status:
  readyReplicas: 1
---
# Assert the Jaeger query is up and running
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Env.JAEGER_NAME }}-query
spec:
  replicas: 1
status:
  readyReplicas: 1
---
# Assert the Jaeger ingester is up and running
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Env.JAEGER_NAME }}-ingester
spec:
  replicas: 1
status:
  readyReplicas: 1
