apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - command: "./ensure-ingress-host.sh"
  - script: "ASSERT_PRESENT={{ .Env.ASSERT_PRESENT }} EXPECTED_CONTENT={{ .Env.TRACKING_ID }} QUERY_HOSTNAME={{ .Env.URL }} go run {{ .Env.TEST_UI_CONFIG_PROGRAM }}"
