language: go
sudo: required
dist: xenial
sevices:
  - docker


go:
- 1.12.5

stages:
  - name: build
  - name: deploy
    # only deploy if:
    ## we are not in a PR
    ## tag is blank (ie, master or any other branch)
    ## tag is a release tag (release/v1.6.1, which is the release build)
    if: (type != pull_request) AND ((tag IS blank) OR (tag =~ /^release\/v.[\d\.]+(\-.*)?$/))

env:
  global:
    - CHANGE_MINIKUBE_NONE_USER=true
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_HOME=$HOME
    - CHANGE_MINIKUBE_NONE_USER=true
    - KUBECONFIG=$HOME/.kube/config

jobs:
  include:
    - stage: build
      env:
      - OPERATOR_VERSION="JOB_${TRAVIS_JOB_NUMBER}"
      name: "Build and unit test"
      install:
      - "travis_retry ./.travis/install.sh"
      script:
      - "./.travis/script.sh"
      after_success:
      - "./.travis/after_success.sh"

    - stage: build
      name: "Run e2e elasticsearch tests"
      install:
      - "travis_retry make vendor"
      - "./.travis/setupMinikube.sh"
      script:
      - "./.travis/rune2eTests.sh"
      env:
      - TEST_GROUP=es

    - stage: build
      name: "Run e2e smoke tests"
      install:
      - "travis_retry make vendor"
      - "./.travis/setupMinikube.sh"
      script:
      - "./.travis/rune2eTests.sh"
      env:
      - TEST_GROUP=smoke

    - stage: build
      name: "Run e2e cassandra tests"
      install:
      - "travis_retry make vendor"
      - "./.travis/setupMinikube.sh"
      script:
      - "./.travis/rune2eTests.sh"
      env:
      - TEST_GROUP=cassandra

    - stage: build
      name: "Run e2e streaming tests"
      install:
      - "travis_retry make vendor"
      - "./.travis/setupMinikube.sh"
      script:
      - "./.travis/rune2eTests.sh"
      env:
      - TEST_GROUP=streaming

    - stage: build
      name: "Run e2e examples 1 tests"
      install:
        - "travis_retry make vendor"
        - "./.travis/setupMinikube.sh"
      script:
        - "./.travis/rune2eTests.sh"
      env:
        - TEST_GROUP=examples1

    - stage: build
        name: "Run e2e examples 2 tests"
        install:
          - "travis_retry make vendor"
          - "./.travis/setupMinikube.sh"
        script:
          - "./.travis/rune2eTests.sh"
        env:
          - TEST_GROUP=examples2

    - stage: build
      name: "Run e2e es-self-provisioned tests"
      install:
      - "travis_retry make vendor"
      - "./.travis/setupOpenShift.sh"
      script:
      - "./.travis/rune2eTests.sh"
      env:
      - TEST_GROUP=es-self-provisioned

    - stage: deploy
      name: "Publish latest image"
      env:
      - OPERATOR_VERSION="${TRAVIS_BRANCH}"
      script:
      - "./.travis/publish-images.sh"

    - stage: deploy
      name: "Release"
      env:
      - OPERATOR_VERSION="${TRAVIS_BRANCH}"
      script:
      - "./.travis/release.sh"
      if: tag =~ /^release\/v.[\d\.]+(\-.*)?$/
