apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  # Before executing the KUTTL tests, the Jaeger Operator is deployed in the
  # observability namespace. To run this test, we modify that
  # deployment to watch only in certain namespaces
apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  # Before executing the KUTTL tests, the Jaeger Operator is deployed in the
  # observability namespace. To run this test, we modify that
  # deployment to watch only in certain namespaces
  - script: "cd {{ .Env.ROOT_DIR }} && make undeploy"
  - script: "cd {{ .Env.ROOT_DIR }}/config/default && kustomize edit set namespace $NAMESPACE"
  - script: "cd {{ .Env.ROOT_DIR }} && kustomize build config/namespaced > {{ .Env.ROOT_DIR }}/new_config.yaml"
  - script: "cat {{ .Env.ROOT_DIR }}/new_config.yaml"
  - script: "kubectl apply -f {{ .Env.ROOT_DIR }}/new_config.yaml"
