apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: "JAEGER_SERVICE_NAME=my-test-service OPERATION_NAME=my-little-op JAEGER_ENDPOINT={{ .Env.JAEGER_COLLECTOR_ENDPOINT }} go run {{ .Env.REPORTER_PROGRAM }} --verbose"
  - script: "go run {{ .Env.QUERY_PROGRAM }} --service-name my-test-service --query-host {{ .Env.JAEGER_QUERY_ENDPOINT }}"
