apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: with-cassandra
spec:
  strategy: all-in-one
  storage:
    type: cassandra
    options:
      cassandra:
        servers: cassandra
        keyspace: jaeger_v1_datacenter3
    cassandraCreateSchema:
      datacenter: "datacenter3"
      mode: "test"
