apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: {{ .Env.JAEGER_NAME }}
spec:
  strategy: production
  storage:
    type: elasticsearch
    elasticsearch:
      name: shared-es
      doNotProvision: true
      useCertManagement: true
      nodeCount: {{ .Env.ELASTICSEARCH_NODECOUNT }}
      resources:
        requests:
          cpu: 200m
          memory: 2Gi
        limits:
          memory: 2Gi
