apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: {{ .Env.SERVICE_ACCOUNT_NAME }}
  annotations:
    kubernetes.io/service-account.name: "{{ .Env.SERVICE_ACCOUNT_NAME }}"
