apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "io.jaegertracing/v1alpha1",
          "kind": "Jaeger",
          "metadata": {
            "name": "my-jaeger"
          },
          "spec": {
            "strategy": "allInOne",
            "allInOne": {
              "image": "jaegertracing/all-in-one:1.10",
              "options": {
                "log-level": "debug",
                "query": {
                  "base-path": "/jaeger"
                }
              }
            },
            "ui": {
              "options": {
                "dependencies": {
                  "menuEnabled": false
                },
                "tracking": {
                  "gaID": "UA-000000-2"
                },
                "menu": [
                  {
                    "label": "About Jaeger",
                    "items": [
                      {
                        "label": "Documentation",
                        "url": "https://www.jaegertracing.io/docs/latest"
                      }
                    ]
                  }
                ]
              }
            },
            "storage": {
              "options": {
                "memory": {
                  "max-traces": 100000
                }
              }
            }
          }
        }
      ]
    categories: tracing, monitoring, troubleshooting
    certified: "false"
    containerImage: docker.io/jaegertracing/jaeger-operator:1.10.0
    createdAt: "2019-01-09T12:00:00Z"
    support: Jaeger
  creationTimestamp: null
  name: jaeger-operator.v1.10.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: A configuration file for a Jaeger custom resource.
      displayName: Jaeger
      kind: Jaeger
      name: jaegers.io.jaegertracing
      version: v1alpha1
  description: Provides monitoring and troubleshooting microservices-based distributed
    systems
  displayName: jaeger-operator
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          - serviceaccounts
          verbs:
          - '*'
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - '*'
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - io.jaegertracing
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - extensions
          resources:
          - ingresses
          verbs:
          - '*'
        - apiGroups:
          - batch
          resources:
          - jobs
          - cronjobs
          verbs:
          - '*'
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - '*'
        serviceAccountName: jaeger-operator
      deployments:
      - name: jaeger-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: jaeger-operator
          strategy: {}
          template:
            metadata:
              creationTimestamp: null
              labels:
                name: jaeger-operator
            spec:
              containers:
              - args:
                - start
                env:
                - name: WATCH_NAMESPACE
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: jaeger-operator
                image: jaegertracing/jaeger-operator:1.10.0
                imagePullPolicy: Always
                name: jaeger-operator
                ports:
                - containerPort: 60000
                  name: metrics
                resources: {}
              serviceAccountName: jaeger-operator
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - pods
          - services
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          - serviceaccounts
          verbs:
          - '*'
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - '*'
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - io.jaegertracing
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - extensions
          resources:
          - ingresses
          verbs:
          - '*'
        - apiGroups:
          - batch
          resources:
          - jobs
          - cronjobs
          verbs:
          - '*'
        serviceAccountName: jaeger-operator
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - tracing
  - monitoring
  - troubleshooting
  labels:
    name: jaeger-operator
  links:
  - name: Jaeger Operator Source Code
    url: https://github.com/jaegertracing/jaeger-operator
  maintainers:
  - email: jaeger-tracing@googlegroups.com
    name: Jaeger Google Group
  provider:
    name: CNCF
  selector:
    matchLabels:
      name: jaeger-operator
  version: 1.10.0
