apiVersion: kuttl.dev/v1beta1
kind: TestStep
commands:
  - script: "cd {{ .Env.ROOT_DIR }} && make undeploy ignore-not-found=true"
  - script: "kubectl delete namespace observability --ignore-not-found=true"
