name: "CI Workflow"

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

permissions:
  contents: read

jobs:
  basic-checks:
    runs-on: ubuntu-20.04
    env:
      USER: jaegertracing
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
      with:
        go-version: "1.21"

    - name: "install kubebuilder"
      run: ./hack/install/install-kubebuilder.sh

    - name: "install kustomize"
      run: ./hack/install/install-kustomize.sh

    - name: "basic checks"
      run: make install-tools ci

    - name: "upload test coverage report"
      uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673 # v4.5.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
