name: "CI Workflow"

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

permissions:
  contents: read

jobs:
  basic-checks:
    runs-on: ubuntu-20.04
    env:
      USER: jaegertracing
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

    - name: Set up Go
      uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
      with:
        go-version: "1.21"

    - name: "install kubebuilder"
      run: ./hack/install/install-kubebuilder.sh

    - name: "install kustomize"
      run: ./hack/install/install-kustomize.sh

    - name: "basic checks"
      run: make install-tools ci

    - name: "upload test coverage report"
      uses: codecov/codecov-action@5ecb98a3c6b747ed38dc09f787459979aebb39be # v4.3.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
