name: "CI Workflow"

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

permissions:
  contents: read

jobs:
  basic-checks:
    runs-on: ubuntu-20.04
    env:
      USER: jaegertracing
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

    - name: Set up Go
      uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version: "1.21"

    - name: "install kubebuilder"
      run: ./hack/install/install-kubebuilder.sh

    - name: "install kustomize"
      run: ./hack/install/install-kustomize.sh

    - name: "basic checks"
      run: make install-tools ci

    - name: "upload test coverage report"
      uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed # v4.3.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
