name: "Kubernetes end-to-end tests"
on: [push, pull_request]

jobs:
  end-to-end:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        TEST_GROUP: [es]
    steps:
    - uses: actions/setup-go@v1
      with:
        go-version: '1.13.5'
    - uses: jpkrohling/setup-minikube@v1-release
      with:
        minikube-version: v1.3.1
    - uses: jpkrohling/setup-kubectl@v1-release
    - uses: jpkrohling/setup-operator-sdk@v1-release
      with:
        operator-sdk-version: v0.15.1
    - uses: actions/checkout@v1

    - name: "setup docker"
      run: ./.ci/setup-docker.sh

    - name: "start minikube"
      run: ./.ci/start-minikube.sh

    - name: "install go tools"
      run: make install-tools

    - name: "running end to end test"
      env:
        CI: true
        TEST_GROUP: ${{ matrix.TEST_GROUP }}
      run: ./.ci/run-e2e-tests.sh
