name: "Kubernetes end-to-end tests"
on: [push, pull_request]

jobs:
  end-to-end:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        TEST_GROUP: [smoke, es, cassandra, streaming, examples1, examples2]
    steps:
    - uses: jpkrohling/setup-minikube@v1-release
    - uses: jpkrohling/setup-kubectl@v1-release
    - uses: jpkrohling/setup-operator-sdk@v1-release
      with:
        operator-sdk-version: v0.10.0
    - uses: actions/checkout@v1

    - name: "setup docker"
      run: ./.ci/setup-docker.sh

    - name: "start minikube"
      run: ./.ci/start-minikube.sh

    - name: "running end to end test"
      env:
        CI: true
        TEST_GROUP: ${{ matrix.TEST_GROUP }}
      run: ./.ci/run-e2e-tests.sh
