name: "End-to-end tests"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  e2e-tests:
    name: End-to-end tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:

      - name: Set up Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2.4.0

      - name: "install kuttl"
        run: ./.ci/install-kuttl.sh

      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh

      - name: "run tests"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make e2e-tests KUBE_VERSION=$KUBE_VERSION
