name: E2E tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'
concurrency:
  group: e2e-tests-${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  e2e:
    name: "Run ${{ matrix.testsuite.label }} E2E tests (${{ matrix.kube-version }})"
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
       kube-version:
         - "1.19"
         - "1.30"
       testsuite:
         - { name: "elasticsearch", label: "Elasticsearch" }
         - { name: "examples", label: "Examples" }
         - { name: "generate", label: "Generate" }
         - { name: "miscellaneous", label: "Miscellaneous" }
         - { name: "sidecar", label: "Sidecar" }
         - { name: "streaming", label: "Streaming" }
         - { name: "ui", label: "UI" }
         - { name: "upgrade", label: "Upgrade" }
    steps:
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
      - name: "Set up Go"
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version: "1.22"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1
        with:
          install: true
      - name: Cache Docker layers
        uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
        with:
          path: /tmp/.buildx-cache
          key: e2e-${{ github.sha }}
          restore-keys: |
            e2e-
      - name: "Install KIND"
        run: ./hack/install/install-kind.sh
        shell: bash
      - name: "Install KUTTL"
        run: ./hack/install/install-kuttl.sh
        shell: bash
      - name: "Install gomplate"
        run: ./hack/install/install-gomplate.sh
        shell: bash
      - name: "Install dependencies"
        run: make install-tools
        shell: bash
      - name: "Run ${{ matrix.testsuite.label }} E2E test suite on Kube ${{ matrix.kube-version }}"
        env:
          VERBOSE: "true"
          KUBE_VERSION: "${{ matrix.kube-version }}"
          DOCKER_BUILD_OPTIONS: "--cache-from	type=local,src=/tmp/.buildx-cache --cache-to type=local,dest=/tmp/.buildx-cache-new,mode=max --load"
        run: make run-e2e-tests-${{ matrix.testsuite.name }}
        shell: bash
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
        shell: bash
