name: "End-to-end tests"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  allinone-e2e-tests:
    name: All in one E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KIND"
        run: ./.ci/install-kind.sh
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-allinone
  cassandra-e2e-tests:
    name: Cassandra E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:

      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-cassandra
  elasticsearch-e2e-tests:
    name: Elasticsearch E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-elasticsearch
  examples-e2e-tests:
    name: Examples E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-examples
  generate-e2e-tests:
    name: Generate E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-generate
  istio-e2e-tests:
    name: Istio E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-istio
  outside-cluster-e2e-tests:
    name: Outside cluster E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-outside-cluster
  smoke-e2e-tests:
    name: Smoke E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-smoke
  streaming-e2e-tests:
    name: Streaming E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-streaming
  upgrade-e2e-tests:
    name: Upgrade E2E tests
    runs-on: ubuntu-20.04
    env:
      VERBOSE: true
    strategy:
      matrix:
       kube-version:
       - "1.19"
       - "1.20"
       - "1.21"
       - "1.22"
    steps:
      - name: "Set up Go"
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.16
      - name: "Check out code into the Go module directory"
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0
      - name: "Install KUTTL"
        run: ./.ci/install-kuttl.sh
      - name: "install gomplate"
        run: ./.ci/install-gomplate.sh
      - name: "Install dependencies"
        run: make install-tools
      - name: "Run E2E test suite"
        env:
          KUBE_VERSION: ${{ matrix.kube-version }}
        run: make run-e2e-tests-upgrade
