name: "Publish images"

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      USER: jaegertracing
    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-qemu-action@v2.0.0
    - uses: docker/setup-buildx-action@v2.0.0
    - name: "publishes the images"
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
        QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        OPERATOR_VERSION: main
      run: ./.ci/publish-images.sh
