name: "Release"
on:
  push:
    branches:
    paths:
    tags:
    - 'release/v*'

jobs:
  end-to-end:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        path: src/github.com/jaegertracing/jaeger-operator # remove when using operator >= 0.9.0

    - name: "perform the release"
      env:
        GH_WRITE_TOKEN: ${{ secrets. GH_WRITE_TOKEN }}
      run: ./.ci/release.sh
