
name: "Prepare the release"
on:
  push:
    tags:
    - 'v*'

jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go
      uses: actions/setup-go@v2.1.5
      with:
        go-version: 1.16

    - uses: actions/checkout@v2.4.0

    - name: "install kubebuilder"
      run: ./hack/install-kubebuilder.sh

    - name: "install kustomize"
      run: ./hack/install-kustomize.sh

    - uses: jpkrohling/setup-operator-sdk@v1.1.0
      with:
        operator-sdk-version: v1.13.1
    - uses: docker/setup-qemu-action@v1.2.0
    - uses: docker/setup-buildx-action@v1.6.0

    - name: "generate release resources"
      run: make release-artifacts USER=jaegertracing

    - name: "create the release in GitHub"
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: ./.ci/create-release-github.sh

    - name: "publishes the images"
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
        QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
      run: ./.ci/publish-images.sh
