name: "Release"
on:
  push:
    tags:
    - 'release/v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v2.1.3
      with:
        go-version: 1.16
    - uses: actions/checkout@v2.3.4
    - uses: jpkrohling/setup-operator-sdk@v1.0.2
      with:
        operator-sdk-version: v0.18.2
    - uses: docker/setup-qemu-action@v1.2.0
    - uses: docker/setup-buildx-action@v1.6.0
    - name: "perform the release"
      env:
        GH_WRITE_TOKEN: ${{ secrets.GH_WRITE_TOKEN }}
      run: ./.ci/release.sh
    - name: "publishes the images"
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
        QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
      run: ./.ci/publish-images.sh
